/* Sticky footer styles
	-------------------------------------------------- */
html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: #f5f5f5;
}

/* Custom page CSS
	-------------------------------------------------- */
/* Not required for template or sticky footer method. */
#wrap>.container {
	padding: 60px 15px 0;
}

.container .text-muted {
	margin: 20px 0;
}

#footer>.container {
	padding-left: 15px;
	padding-right: 15px;
}

code {
	font-size: 80%;
}

.small-vert-margin {
	margin: 5px 0;
}

.mid-vert-margin {
    margin: 10px 0;
}

.large-vert-margin {
	margin: 20px 0;
}

.display-tag-table {
 	margin-bottom: 0px;
}
.display-tag-pagination {
  	margin: 0px;
}

.pagination-details {
	font-weight: bold;
	margin: 10px 0 3px 0;
}

.round {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

.shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0
        rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0
        rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0
        rgba(0, 0, 0, 0.1);
}

.hand {
	cursor: pointer; 
	cursor: hand;
}
.unstyle-link{
	color:#000;
	text-decoration:none
}
.default-toolbar {
    border-bottom: 1px solid #EEEEEE;border-top: 1px solid #EEEEEE; padding: 5px 0;
}