#parse("template/topTemplate.html")    		
    <b>You or someone has requested to set or reset your password.</b><br/><br/>
		    
    Click the link below to set your password: <br />
    <a href="http://${webHostname}/resetpassword?e=${e}&t=${token}">Set Your Password</a>     		    		
    		
#parse("template/bottomTemplate.html") 