<%@ include file="/WEB-INF/jsp/includes/taglibs.jsp"
%><%@ attribute name="date" required="true" type="java.util.Date"
%><fmt:formatDate value="${date}" type="both" dateStyle="full" timeStyle="medium"/>