<%@ include file="/WEB-INF/jsp/includes/taglibs.jsp"
%><%@ attribute name="label" required="true" 
%><%@ attribute name="btnClass" required="false" 
%><button type="button" onClick="window.location.reload();" class="btn ${btnClass}">${label}</button>