<%@ include file="/WEB-INF/jsp/includes/taglibs.jsp"
%><%@attribute name="selection" required="true"
%><%@attribute name="menuItem" required="true"
%><c:if test="${selection eq menuItem}">active</c:if>